@import "{}/imports/lib/stylesheets/emboss.scss";

.cmptBigSingleInputForm {
	width:33%;
	padding: 10rem 0 12rem 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	h3 {
		text-align: center;
		padding: 1rem 0;
	}

	input {
		text-align: center;
		font-size: 1.5rem;
		padding: 1rem 1.5rem;
		border-radius: .4rem;
		// border: 1px solid #999;
		color: #333;
		width: 100%;
		letter-spacing: 2px;
	}
	.cmptBigSingleInputError {
		background-color: #fa2f00;
		text-align: center;
		padding: .35rem 0;
		color: #FFF;
		border-radius: .4rem;
		margin-top: 1rem;
		@include text-shadow();
	}
}
