@import "{}/imports/stylesheets/base-styles.scss";


#register-layout {
	width: 100%;
	padding: 2px 10px;
	@extend .auto-margins;

	@include desktop {
		max-width: 460px;
		padding-top: 2rem;
	}

	.header {
		text-align: center;
		padding: 2rem 0;

		h3 {
			padding-top: 1rem;
		}
	}

	fieldset {
		margin-bottom: .5rem;
	}

	.btn {
		margin-top: 1.25rem;
		width: 100%;

		@include desktop {
			margin-left: 140px;
			width: 300px;
		}
	}
	label {
		@include desktop {
			display: inline-block;
			width: 140px;
			text-align: right;
			padding-right: 16px;
		}
	}
	input, select {
		width: 100%;

		@include desktop {
			width: 300px;
		}
	}
	select {text-transform: capitalize;}
}
